{
	"useTabs": true,
	"endOfLine": "lf",
	"singleQuote": false,
	"trailingComma": "es5",
	"semi": false,
	"printWidth": 200,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
